@model IEnumerable<DogWalkingAppAuth.Models.Walker>

@{
    ViewBag.Title = "List of Walkers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="
    padding-top: 70px;
    color: darkgreen;">Walkers</h2>

<p>
    @Html.ActionLink("Add A Walker", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WalkerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Walker_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WalkerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WalkerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WalkerID })
        </td>
    </tr>
}

</table>
