@model DogWalkingAppAuth.Models.DogWalking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2  style="
    padding-top: 70px;
    color: darkgreen;">Details</h2>

<div>
    <h4>DogWalking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WalkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalkDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WalkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalkerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Affirmations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Affirmations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WalkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
